# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.envgo
.venv/
.env_settings
./categories/
# Django
*.log
db.sqlite3
*.sqlite3
/media/
/staticfiles/
/static/
.env
# IDE
.vscode/
.idea/
*.swp
*.swo

# JWT и ключи
SECRET_KEY
*.pem

# OS
.DS_Store
Thumbs.db
