asgiref==3.11.1
attrs==26.1.0
Django==6.0.5
django-cors-headers==4.3.1
django-filter==25.2
django-resized==1.0.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mysqlclient==2.2.4
packaging==26.1
Pillow==10.1.0
PyJWT==2.12.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
setuptools==82.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
wheel==0.46.3
